body{
    background-color:#F7F4E9;
}

*{
    margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Lato', sans-serif;
}




nav{
    display:flex;
    justify-content:center;
    margin-top:5%;
  }

nav a{
    padding:0 5%;
    text-decoration:none;
    color :rgb(49, 39, 39);
    font-weight:bold;
  }


.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    /* text-decoration: underline; */
}

.container{
  width:40%;
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%)
}

.mainContainer{
    width:80%;
    margin:10% auto;
    display:flex;
}

.subContainer{
    width:40%;
    margin:0 5%;
  }
  
  .subContainer input{
    width:100%;
    min-height:50px;
  
  }

  .todoListContainer{
    width:60%;
    background-color:rgb(250, 250, 250);
    min-height:50vh;
    margin-left:5%;

  }

  ul{
    padding-left:0;
  }

  .todoItem{
    width:80%;
    margin:5% auto 0;
    border-bottom:1px black solid;
    list-style-type:none;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
  }

.container_h1{
    text-align:center;
    width:100%;
    background-color:rgb(59 58 58);
    color: #F7F4E9;;
    padding:2% 0 ;
  }

  .btn{
    background-color:rgb(1, 136, 136);
    margin-top:5%;
}

.formBox{
    display:flex;
    flex-direction:column;
}

.formBox form{
   width:80%;
   margin:0 auto;
}

input{
    max-width:400px;
}
/* label{
    margin-top:5%;
} */

.homeLink{
    margin:5% auto;
   
    justify-content:start;
    width:80%;

}

.homeLink a{
    color:rgb(32, 9, 96);
    padding:0;
    text-decoration:underline;
}

.login{
    margin: 0 auto 5%;
    width: 80%;
    font-weight:500;
}



.subMainContainer{
    width:80%;
    margin:0 auto;
}

.subMainContainer a{
    
        color:rgb(32, 9, 96);
     
        text-decoration:underline;
    
}

.task{
    font-size:20px;
    /* margin:10%; */

}

.del{
    margin-left:10px;
    font-size:20px;
}

.message{
    width:80%;
    margin:3% auto 0;
}

.signUpContainer{
   margin-top:5vh;
   margin-bottom:5vh;
   height:90vh;
}


#taskField{
    max-height:30px;
}